.heading{
    font-family: sans-serif;
    text-align: center;
}
.container{
    width: 100%;
    margin: 10px;
}
p{
    font-family: sans-serif;
    font-size: 18px;
}

.column1,.column2,.column3 {
    background-color: #808080;
    border: 1px solid #000;
    width: 98%;
    margin-bottom: 20px;
    display: block;
}



.column3 p{
    padding: 20px 15px 10px 15px;
}
.column1 p{
    padding: 20px 15px 10px 15px;
}
.column2 p{
    padding: 20px 15px 10px 15px;
}
.title{
    font-family: sans-serif;
    width: 100px;
    text-align: center;
    border: 1px solid #000;
    
}
.container .title{
float: right;
}
.tab1{
    background-color: #ffc0b4;
    color:#000;
    font-weight: bold;
    font-size: 20px;
}
.tab2{
    background-color: red;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
 .tab3{
    background-color: #ffe5b4;
    color:#000;
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 992px){
    .column1,.column2,.column3 {
        width: 32.7%;
        display: inline-block;
    }
    
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

    .column1, .column2{
        width: 48.5%;
        display: inline-block;
    }
    .column3{
        width: 97.5%;
        display: block;
    }
}



/*

@media (min-width: 1200px) {
    .container{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
}

@media (max-width: px){
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .column1{
        width: 50%;
    }
    .column2{
        width: 50%;
    }
.column3{
    width: 100%;
}
}

@media(min-width: 300px){
    .container {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .column1,.column2,.column3 {
        width: 100% !important;
    }
}
*/